{# macros file holds jinja functions that are going to be re-used in the project #}


{% macro carousel(id, items, filler_text) %}
<div id="{{ id }}" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for i, item in enumerate(items) %}
      <button type="button" data-bs-target="#{{ id }}" data-bs-slide-to="{{ i }}" {% if i == 0 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ i+1 }}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for i, item in enumerate(items) %}
      <div class="carousel-item {% if i == 0 %}active{% endif %}">
        <img src="/static/img/standard_image.jpg" class="d-block w-100" alt="Standard Image">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ item.caption_title }}</h5>
          <p>{{ filler_text }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#{{ id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endmacro %}


{% macro display_message(message) %}
    <div class="container-fluid py-3 text-center text-white">
      <div class="border rounded border-flare">
        <p class="font-weight-bold p-4 mb-auto">
          {{ message.message }}
          <i class="fa-regular fa-thumbs-up float-end" data-message-id="{{ message.id }}"></i>
        </p>
        <p class="float-end text-sm">
          {{ message.name }} <span>({{ message.timestamp }})</span>
        </p>
      </div>
    </div>
{% endmacro %}
